@import "../config/index.scss";

//------------------------------------------------------------//

// * Base Typography
// * 1. Content
// * 2. Headings

// Notes:
// * none

// TODO : none

//------------------------------------------------------------//

// * 1. Content

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $tu-base-fontSize;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: $tu-base-lineHeight;
  letter-spacing: $tu-base-letterSpacing;
}

b,
strong {
  font-weight: $tu-semibold-fontWeight;
}

small {
  color: $cu-info--light;
  font-size: $tu-small-fontSize;
  line-height: $tu-small-lineHeight;
  letter-spacing: $tu-small-letterSpacing;
}

a {
  color: $color-links;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  &:hover {
    color: $color-links--hover;
  }
  &:active,
  &:hover {
    outline: 0;
  }
}

// * 2. Headings

h1, h2, h3 {
  font-family: $heading-font-family;
  color: $base-font-color;
}

h4, h5, h6 {
  font-family: $base-font-family;
}

h1 {
  font-size: $tu-base6-fontSize;
  line-height: $tu-base-lineHeight;
  letter-spacing: $tu-xxlarge-letterSpacing;
  // @media (min-width: $breakpoint-sm) {
  //   font-size: $tu-xxlarge-fontSize;
  // }
}

h2 {
  font-size: $tu-base5-fontSize;
  line-height: $tu-base-lineHeight;
  letter-spacing: $tu-xlarge-letterSpacing;
  // @media (min-width: $breakpoint-sm) {
  //   font-size: $tu-xlarge-fontSize;
  // }
}

h3 {
  font-size: $tu-base4-fontSize;
  font-weight: $tu-semibold-fontWeight;
  line-height: $tu-base-lineHeight;
  letter-spacing: $tu-large-letterSpacing;
}

h4 {
  font-size: $tu-base3-fontSize;
  font-weight: $tu-semibold-fontWeight;
  line-height: $tu-small-lineHeight;
  letter-spacing: $tu-base-letterSpacing;
}

h5 {
  font-size: $tu-base2-fontSize;
  font-weight: $tu-semibold-fontWeight;
  line-height: $tu-small-lineHeight;
  letter-spacing: $tu-small-letterSpacing;
}

h6 {
  font-size: $tu-base1-fontSize;
  font-weight: $tu-semibold-fontWeight;
  line-height: $tu-small-lineHeight;
  letter-spacing: $tu-xsmall-letterSpacing;
}
