///*////////////////////////////////////////////////////////////////*/

//     Loads Museo Sans Fonts & set them up as class modifiers

//*////////////////////////////////////////////////////////////////*/

@font-face {
  font-family: 'MuseoSansRounded100Regular';
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-100-webfont.eot');
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-100-webfont.woff') format('woff'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-100-webfont.ttf') format('truetype'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-100-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansRounded300Regular';
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-300-webfont.eot');
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-300-webfont.woff') format('woff'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-300-webfont.ttf') format('truetype'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-300-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansRounded500Regular';
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-500-webfont.eot');
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-500-webfont.woff') format('woff'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-500-webfont.ttf') format('truetype'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-500-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansRounded700Regular';
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-700-webfont.eot');
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-700-webfont.woff') format('woff'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-700-webfont.ttf') format('truetype'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-700-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansRounded900Regular';
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-900-webfont.eot');
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-900-webfont.woff') format('woff'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-900-webfont.ttf') format('truetype'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-900-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansRounded1000Regular';
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-1000-webfont.eot');
  src: url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-1000-webfont.woff') format('woff'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-1000-webfont.ttf') format('truetype'),
    url('//dugout.teamsnap.com/teamsnap-ui/2.5.1/assets/fonts/museo/MuseoSansRounded-1000-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
