@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v55/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2) format('woff2');
}


  @mixin ss-material {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    vertical-align: middle;
    font-size: 140%;
  }

[class*="ss-"] {
  &:before {
    @include ss-material;
    padding-right: 8px;
    margin: 0 -0.2em;
    position: relative;
    top: -1px;
  }
  &:after {
    padding-left: 3px;
  }
  img {
    display: none;
  }
}

[class*="ss-textfile"]:before {
  content:'description';
}
[class*="ss-up"]:before {
  content:'arrow-upward';
}
[class*="ss-check"]:before {
  content:'check';
}
[class*="ss-right"]:after,
[class*="ss-right-after"]:after {
  content:'arrow_forward';
}
[class*="ss-left"]:before {
  content:'arrow_back';
}
[class*="ss-navigateup"]:before {
  content:'arrow_upward';
}
[class*="ss-navigateright"]:after,
[class*="ss-navigateright-after"]:after {
  content:'chevron_right';
}
[class*="ss-navigatedown"]:before {
  content:'expand_more';
}
[class*="ss-navigateleft"]:before {
  content:'chevron_left';
}
[class*="ss-dropdown"]:before,
[class*="ss-dropdown-after"]:after {
  content:'arrow_drop_down';
}
[class*="ss-directright"]:before,
[class*="ss-directright-after"]:after {
  content:'arrow_right';
}
[class*="ss-directleft"]:before {
  content:'arrow_left';
}
// used for sortable (rotated) so keepin the after
[class*="ss-leftright"]:before,
[class*="ss-leftright-after"]:after {
  content:'unfold_more';
}
[class*="ss-search"]:before {
  content:'search';
}
[class*="ss-searchbook"]:before {
  content:'find_in_page';
}
[class*="ss-binoculars"]:before {
  content:'manage_search';
}
[class*="ss-attach"]:before {
  content:'attachment';
}
[class*="ss-move"]:before {
  content:'drag_handle';
}
[class*="ss-erase"]:before {
  content:'delete';
}
[class*="ss-write"]:before,
[class*="ss-draw"]:before {
  content:'edit';
}
[class*="ss-lock"]:before {
  content:'lock';
}
[class*="ss-unlock"]:before {
  content:'lock_open';
}
[class*="ss-ban"]:before {
  content:'block';
}
[class*="ss-new"]:before {
  content:'fiber_new';
}
[class*="ss-tag"]:before {
  content:'label';
}
[class*="ss-flag"]:before {
  content:'flag';
}
[class*="ss-star"]:before {
  content:'star';
}
[class*="ss-medal"]:before {
  content:'emoji_events';
}
[class*="ss-ribbon"]:before {
  content:'bookmark';
}
[class*="ss-layers"]:before {
  content:'layers';
}
[class*="ss-checkclipboard"]:before {
  content:'assignment_turned_in';
}
[class*="ss-linechartclipboard"]:before {
  content:'poll';
}
[class*="ss-cursor"]:before {
  content:'touch_app';
}
[class*="ss-headset"] {
  content:'headphones';
}
[class*="ss-megaphone"]:before {
  content:'campaign';
}
[class*="ss-rss"]:before {
  content:'rss_feed';
}
[class*="ss-replay"]:before {
  content:'keyboard_return';
}
[class*="ss-refresh"]:before {
  content:'refresh';
}
[class*="ss-send"]:before {
  content:'send';
}
[class*="ss-mail"]:before {
  content:'email';
}
[class*="ss-inbox"]:before {
  content:'inbox';
}
[class*="ss-outbox"]:before {
  content:'outbox';
}
[class*="ss-chat"]:before {
  content:'chat';
}
[class*="ss-user"]:before {
  content:'person';
}
[class*="ss-users"]:before {
  content:'people';
}
[class*="ss-femaleuser"]:before {
  content:'person';
}
[class*="ss-usergroup"]:before {
  content:'groups';
}
// used on registration (maybe rethink usage)
[class*="ss-adduser"]:before {
  content:'person_add_alt';
}
[class*="ss-delete"]:before {
  content:'delete';
}
[class*="ss-deleteuser"]:before {
  content:'person_remove';
}
[class*="ss-cart"]:before {
  content:'shopping_cart';
}
[class*="ss-creditcard"]:before {
  content:'credit_card';
}
[class*="ss-dispensecash"]:before {
  content:'local_atm';
}
[class*="ss-coins"]:before {
  content:'monetization_on';
}
[class*="ss-bankcheck"]:before {
  content:'account_balance';
}
[class*="ss-piggybank"]:before {
  content:'savings';
}
[class*="ss-moneybag"]:before {
  content:'monetization_on';
}
[class*="ss-tip"]:before {
  content:'payments';
}
[class*="ss-percent"]:before {
  content:'%';
}
[class*="ss-bank"]:before {
  content:'account_balance';
}
[class*="ss-scales"]:before {
  content:'account_balance_wallet';
}
[class*="ss-upwardsbarchart"]:before {
  content:'leaderboard';
}
[class*="ss-analytics"]:before {
  content:'timeline';
}
[class*="ss-upwardslinechart"]:before {
  content:'timeline';
}
[class*="ss-stock"]:before {
  content:'trending_up';
}
[class*="ss-form"]:before {
  content:'web';
}
[class*="ss-home"]:before {
  content:'home';
}
[class*="ss-earth"]:before {
  content:'public';
}
[class*="ss-location"]:before {
  content:'place';
}
[class*="ss-database"]:before {
  content:'storage';
}
[class*="ss-camera"]:before {
  content:'camera_alt';
}
[class*="ss-picture"]:before {
  content:'image';
}
[class*="ss-video"]:before {
  content:'videocam';
}
[class*="ss-playvideo"]:before {
  content:'play_arrow';
}
[class*="ss-play"]:before {
  content:'play_arrow';
}
[class*="ss-pause"]:before {
  content:'pause';
}
[class*="ss-page"]:before {
  content:'description';
}
[class*="ss-notice"]:before {
  content:'push_pin';
}
[class*="ss-rows"]:before {
  content:'table_rows';
}
[class*="ss-columns"]:before {
  content:'view_week';
}
[class*="ss-thumbnails"]:before {
  content:'grid_view';
}
[class*="ss-desktop"]:before {
  content:'desktop_windows';
}
[class*="ss-smartphone"]:before {
  content:'phone_iphone';
}
[class*="ss-upload"]:before {
  content:'upload';
}
[class*="ss-uploadcloud"]:before {
  content:'cloud_upload';
}
[class*="ss-merge"]:before {
  content:'call_merge';
}
[class*="ss-sync"]:before {
  content:'sync';
}
[class*="ss-file"]:before {
  content:'description';
}
[class*="ss-download"]:before {
  content:'download';
}
[class*="ss-downloadcloud"]:before {
  content:'cloud_download';
}
[class*="ss-downloadbox"]:before {
  content:'archive';
}
[class*="ss-downloadfolder"]:before {
  content:'sim_card_download';
}
// import file & export file can probably go
[class*="ss-importfile"]:before {
  content:'download';
}
[class*="ss-exportfile"]:before {
  content:'upload';
}
[class*="ss-doc"]:before {
  content:'description';
}
[class*="ss-folder"]:before {
  content:'folder';
}
[class*="ss-openfolder"]:before {
  content:'folder';
}
[class*="ss-lockfolder"]:before {
  content:'lock';
}
[class*="ss-picturefolder"]:before {
  content:'collections';
}
[class*="ss-moviefolder"]:before {
  content:'movie';
}
[class*="ss-print"]:before {
  content:'print';
}
[class*="ss-list"]:before {
  content:'list';
}
// ss-action could probably be cut
[class*="ss-action"]:before {
  content:'exit_to_app';
}
[class*="ss-help"]:before {
  content:'help';
}
[class*="ss-info"]:before {
  content:'info';
}
[class*="ss-alert"]:before {
  content:'warning';
}
[class*="ss-caution"]:before {
  content:'do_not_disturb_on';
}
[class*="ss-plus"]:before {
  content:'add';
}
[class*="ss-settings"]:before {
  content:'settings';
}
[class*="ss-dashboard"]:before {
  content:'speed';
}
[class*="ss-notifications"]:before {
  content:'notifications';
}
[class*="ss-notificationsdisabled"]:before {
  content:'notifications_off';
}
[class*="ss-clock"]:before {
  content:'schedule';
}
[class*="ss-calendar"]:before {
  content:'event';
}
[class*="ss-addcalendar"]:before {
  content:'book_online';
}
[class*="ss-checkcalendar"]:before {
  content:'event_available';
}
// maybe rethink delete calendar usage
[class*="ss-deletecalendar"]:before {
  content:'event_busy';
}
// rethink the weather icons for use on home
[class*="ss-weathervane"]:before {
  content:'thermostat';
}
[class*="ss-thermometer"]:before {
  content:'thermostat';
}
[class*="ss-weather"]:before {
  content:'thermostat';
}
[class*="ss-cloud"]:before {
  content:'cloud';
}
[class*="ss-droplet"]:before {
  content:'water_drop';
}
[class*="ss-sun"]:before {
  content:'light_mode';
}
[class*="ss-partlycloudy"]:before {
  content:'cloud';
}
[class*="ss-rain"]:before {
  content:'beach_access';
}
[class*="ss-thunderstorm"]:before {
  content:'bolt';
}
[class*="ss-umbrella"]:before {
  content:'beach_access';
}
[class*="ss-rainbow"]:before {
  content:'looks';
}
[class*="ss-fog"]:before {
  content:'air';
}
[class*="ss-wind"]:before {
  content:'air';
}
[class*="ss-tornado"]:before {
  content:'storm';
}
[class*="ss-snowflake"]:before {
  content:'ac_unit';
}
[class*="ss-share"]:before {
  content:'ios_share';
}
[class*="ss-businessuser"]:before {
  content:'person';
}

// this should go in the future
[class*="ss-right"],
[class*="ss-right-after"],
[class*="ss-navigateright"],
[class*="ss-dropdown-after"],
[class*="ss-leftright-after"],
[class*="ss-directright-after"],
[class*="ss-navigateright-after"] {
  &:after {
    @include ss-material;
  }
  &:before {
    display: none !important;
  }
}
