//------------------------------------------------------------//

// TeamSnap-UI Config Variables
// * TeamSnap Colors
// * Typography
// * Spacing
// * Breakpoints
// * Borders
// * Transitions
// * Box Shadows

//------------------------------------------------------------//


/// V4 colors
$colors-primary: (
  1: #F4F9FF,
  2: #D2E4FF,
  3: #6DA6FF,
  4: #2776F0,
  5: #1364DE,
  6: #0F52BA,
  7: #0C4295,
  8: #162A42,
  9: #091A2E,
  10: #031025,
) !default;

$colors-negative: (
  1: #FFF0F0,
  2: #F5CCCC,
  3: #EB9999,
  4: #E06666,
  5: #D63333,
  6: #CC0000,
  7: #A30000,
  8: #7A0000,
  9: #520000,
  10: #290000,
) !default;

$colors-neutral: (
  1: #FBFBFB,
  2: #F6F8FB,
  3: #EEF0F2,
  4: #DCE1E7,
  5: #CBD0D6,
  6: #98A4AE,
  7: #758693,
  8: #536878,
  9: #1D2B35,
  10: #000000,
) !default;

$colors-warning: (
  1: #FFEFE6,
  2: #FFDECC,
  3: #FFBD99,
  4: #FF9C66,
  5: #FF7B33,
  6: #FF5A00,
  7: #CC4800,
  8: #993600,
  9: #662400,
  10: #331200,
) !default;

$colors-success: (
  1: #F3FFF8,
  2: #D2F3E0,
  3: #A5E6C1,
  4: #79DAA2,
  5: #4CCD83,
  6: #1FC164,
  7: #199A50,
  8: #13743C,
  9: #0C4D28,
  10: #093A1E,
) !default;

// TeamSnap Colors

$ts-blue:                  color-primary(6) !default;
$ts-darkblue:              color-primary(7) !default;
$ts-orange:                color-warning(6) !default;
$ts-green:                 color-success(6) !default;
$ts-red:                   color-negative(6) !default;

$ts-black:                 color-neutral(9) !default;
$ts-grey:                  color-neutral(5) !default;
$ts-white:                 #ffffff !default;

// Color Utilities

$cu-positive:              $ts-green !default;
$cu-negative:              $ts-red !default;

$cu-primary:               $ts-blue !default;
$cu-secondary:             $ts-green !default;
$cu-highlight:             $ts-orange !default;

$cu-foreground:            $ts-white !default;
$cu-middleground:          color-neutral(1) !default;
$cu-background:            color-neutral(2) !default;

$cu-divider:               color-neutral(5) !default;
$cu-divider--light:        color-neutral(3) !default;

$cu-info:                  color-neutral(9) !default;
$cu-info--light:           color-neutral(8) !default;

$cu-overlay-background:    rgba($cu-info, 0.6) !default;


// Typography

$fontSize:          14px !default;
$lineHeight:         1.5 !default;
$letterSpacing: -0.005em !default;

$base-font-color:         $cu-info !default;
$heading-font-color:      $cu-primary !default;
$light-font-color:        $cu-info--light !default;

$color-links:             $cu-primary !default;
$color-links--hover:      color-primary(5) !default;

// Font Families

$tu-lato-fontFamily: 'Lato', 'Open Sans', Helvetica, sans-serif !default;

$base-font-family:    $tu-lato-fontFamily !default;
$heading-font-family: $tu-lato-fontFamily !default;

// Font Weights

$tu-base-fontWeight:      400 !default;
$tu-semibold-fontWeight:  600 !default;
$tu-bold-fontWeight:      700 !default;

// Font Sizes

$tu-xsmall-fontSize:           scaleFont($fontSize, -2) !default;
$tu-small-fontSize:            scaleFont($fontSize, -1) !default;
$tu-base-fontSize:              scaleFont($fontSize, 0) !default;
$tu-medium-fontSize:            scaleFont($fontSize, 1) !default;
$tu-large-fontSize:             scaleFont($fontSize, 2) !default;
$tu-xlarge-fontSize:            scaleFont($fontSize, 5) !default;
$tu-xxlarge-fontSize:           scaleFont($fontSize, 6) !default;

// Font Letter Spacing

$tu-xsmall-letterSpacing: scaleFont($letterSpacing, -2) !default;
$tu-small-letterSpacing:  scaleFont($letterSpacing, -1) !default;
$tu-base-letterSpacing:    scaleFont($letterSpacing, 0) !default;
$tu-large-letterSpacing:   scaleFont($letterSpacing, 2) !default;
$tu-xlarge-letterSpacing:  scaleFont($letterSpacing, 5) !default;
$tu-xxlarge-letterSpacing: scaleFont($letterSpacing, 6) !default;

// Font Line Height

$tu-small-lineHeight:        scaleFont($lineHeight, -2) !default;
$tu-base-lineHeight:          scaleFont($lineHeight, 0) !default;
$tu-large-lineHeight:         scaleFont($lineHeight, 2) !default;

// Spacing

$su-xxxsmall:   scaleGrid(-3) !default; // 1px
$su-xxsmall:    scaleGrid(-2) !default; // 2px
$su-xsmall:     scaleGrid(-1) !default; // 4px
$su-small:       scaleGrid(1) !default; // 8px
$su-medium:     scaleGrid(2) !default; // 16px
$su-large:       scaleGrid(3) !default; // 24px
$su-xlarge:      scaleGrid(4) !default; // 32px
$su-xxlarge:     scaleGrid(5) !default; // 40px

// Responsive

$responsive: false !default;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$breakpoint-xxs-max: $breakpoint-xs - 1px;
$breakpoint-xs-max: $breakpoint-sm - 1px;
$breakpoint-sm-max: $breakpoint-md - 1px;
$breakpoint-md-max: $breakpoint-lg - 1px;

$breakpoints: (
  'xs':  $breakpoint-xs,
  'sm':  $breakpoint-sm,
  'md':  $breakpoint-md,
  'lg': $breakpoint-lg
);

$max-breakpoints: (
  'xxsMax':  $breakpoint-xxs-max,
  'xsMax':  $breakpoint-xs-max,
  'smMax':  $breakpoint-sm-max,
  'mdMax':  $breakpoint-md-max
);

$site-container: 1300px;

// Borders

$border-radius-small:   scaleGrid(-2) !default; // 2px
$border-radius-medium:  5px !default;          // 4px
$border-radius-large:   scaleGrid(1) !default; // 8px

$border-width-small:   scaleGrid(-3) !default; // 1px
$border-width-medium:  scaleGrid(-2) !default; // 2px
$border-width-large:   scaleGrid(-1) !default; // 4px

// Transitions

$duration-short: 250ms;

// * 7. Box Shadows

$box-shadow-small:  0 0 scaleGrid(-2) rgba($cu-info, 0.15) !default;
$box-shadow-large:  0 0  scaleGrid(1) rgba($cu-info, 0.35) !default;
