//------------------------------------------------------------//

// * TeamSnap-UI Mixins
// * 1. liner-gradient()
// * simple gradient mixin. Should only be used very lightly
// * in support of an image background; see registration.
// * 2. clear()
// * method for self clearing a parent with floated children

// Notes:
// * none

// TODO : look into newer SASS media queries further
// TODO : create mixin wrapper for responsive aliases

//------------------------------------------------------------//

// * 1. liner-gradient()

// * Example
//
//   .Component {
//    @include clear;
//   }

@mixin liner-gradient($from, $to, $default) {
  background-color: $default;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = $from, endColorstr = $to, GradientType = 0 );
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(to bottom, $from, $to);
}

// * 2. clear()

// * Example
//
//   .Component {
//    @include clear;
//   }

@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
