//------------------------------------------------------------//

// * Custom Light Blue Color Settings
// * 1. Define new color scheme
// * 2. Load app.scss with color settings overrriden

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

@import "../config/index";

// * 1. Define new color scheme

$cu-primary:   #80aaff;
$cu-secondary: #80aaff;
$cu-highlight: #40557F;
$color-links:  #6688CC;
$color-links--hover: scaleColor($color-links, -2);

// * 2. Load app.scss with color settings overrriden

@import "../fonts/index";
@import "../base/index";
@import "../components/index";
@import "../utils/index";
