//------------------------------------------------------------//

// * Custom Orange Color Settings
// * 1. Define new color scheme
// * 2. Load app.scss with color settings overrriden

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

@import "../config/index";

// * 1. Define new color scheme

$cu-primary:   #d97e00;
$cu-secondary: #D97E00;
$cu-highlight: #593400;
$color-links:  #A66000;
$color-links--hover: scaleColor($color-links, -2);

// * 2. Load app.scss with color settings overrriden

@import "../fonts/index";
@import "../base/index";
@import "../components/index";
@import "../utils/index";
