$maxIndex: 999;

@for $i from 1 through 9 {
  .u-colorPrimary#{$i} {
    color: color-primary($i) !important;
  }

  .u-colorNegative#{$i} {
    color: color-negative($i) !important;
  }

  .u-colorWarning#{$i} {
    color: color-warning($i) !important;
  }

  .u-colorSuccess#{$i} {
    color: color-success($i) !important;
  }

  .u-colorNeutral#{$i} {
    color: color-neutral($i) !important;
  }

  .u-bgPrimary#{$i} {
    background-color: color-primary($i) !important;
  }

  .u-bgNegative#{$i} {
    background-color: color-negative($i) !important;
  }

  .u-bgWarning#{$i} {
    background-color: color-warning($i) !important;
  }

  .u-bgSuccess#{$i} {
    background-color: color-success($i) !important;
  }

  .u-bgNeutral#{$i} {
    background-color: color-neutral($i) !important;
  }

  .u-borderPrimary#{$i} {
    border-color: color-primary($i) !important;
  }

  .u-borderNegative#{$i} {
    border-color: color-negative($i) !important;
  }

  .u-borderWarning#{$i} {
    border-color: color-warning($i) !important;
  }

  .u-borderSuccess#{$i} {
    border-color: color-success($i) !important;
  }

  .u-borderNeutral#{$i} {
    border-color: color-neutral($i) !important;
  }
}

// TODO: rename to .u-colorSuccess?
.u-colorPositive {
  color: color-success(5) !important;
}

.u-colorNegative {
  color: color-negative(5) !important;
}

.u-colorPrimary {
  color: color-primary(5) !important;
}

.u-colorWarning {
  color: color-warning(5) !important;
}

.u-colorSecondary {
  color: $cu-secondary !important;
}

.u-colorInfo {
  color: $cu-info !important;
}

.u-colorGrey {
  color: color-neutral(8) !important;
}

.u-colorHighlight {
  color: $cu-highlight !important;
}

.u-colorForeground {
  color: $cu-foreground !important;
}


// * Link Colors (other than default)

.u-linkNegative {
  color: $cu-negative !important;
  &:hover, &:active {
    color: scaleColor($cu-negative, -1) !important;
  }
}

// Applies link color and hover states to all child elements
.u-linkCascade * {
  color: $color-links !important;
  &:hover, &:active {
    color: $color-links--hover !important;
  }
}

// * BG colors

.u-bgPositive {
  background-color: $cu-positive !important;
}

.u-bgNegative {
  background-color: $cu-negative !important;
}

.u-bgPrimary {
  background-color: $cu-primary !important;
}

.u-bgSecondary {
  background-color: $cu-secondary !important;
}

.u-bgHighlight {
  background-color: $cu-highlight !important;
}

.u-bgLinkLight {
  background-color: scaleColor($color-links, 8) !important;
}

.u-bgForeground {
  background-color: $cu-foreground !important;
}

.u-bgMiddleground {
  background-color: $cu-middleground !important;
}

.u-bgBackground {
  background-color: $cu-background !important;
}

// * Responsive, as necessary

@media (min-width: $breakpoint-xs) {
  .u-xs-bgForeground {
    background-color: $cu-foreground !important;
  }
}
