@import "../config/index.scss";

/**
 * Horizontal text alignment
 */

.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}

/**
 * Prevent whitespace wrapping
 */

.u-textNoWrap {
  white-space: nowrap !important;
}

.u-textEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

@if $responsive == true {
  @each $name, $value in $breakpoints {
    @media (min-width: $value) {
      .u-#{$name}-textCenter {
        text-align: center !important;
      }

      .u-#{$name}-textLeft {
        text-align: left !important;
      }

      .u-#{$name}-textRight {
        text-align: right !important;
      }
    }
  }
}


/**
 * Font size utilities
 */

.u-fontSizeXs {
  font-size: $tu-xsmall-fontSize !important;
}

.u-fontSizeSm {
  font-size: $tu-small-fontSize !important;
}

.u-fontSizeMd {
  font-size: $tu-base-fontSize !important;
}

.u-fontSizeLg {
  font-size: $tu-large-fontSize !important;
}

.u-fontSizeXl {
  font-size: $tu-xlarge-fontSize !important;
}

.u-fontSizeXxl {
  font-size: $tu-xxlarge-fontSize !important;
}

/**
 * Font weight utilities
 */

.u-textNormal {
  font-weight: $tu-base-fontWeight;
}

.u-textSemiBold {
  font-weight: $tu-semibold-fontWeight;
}

.u-textBold {
  font-weight: $tu-bold-fontWeight;
}

/**
 * Text Decoration utilities
 */

 .u-textUnderline {
  text-decoration: underline;
}

.u-textLineThrough {
  text-decoration: line-through;
}