{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript", "prettier"],
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/require-default-props": "off",
    "quotes": ["error", "single"],
    "no-console": "off",
    "arrow-parens": [0, "as-needed"],
    "@typescript-eslint/comma-dangle": ["error", "only-multiline"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.stories.tsx"]
      }
    ]
  }
}
