{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript", "prettier"],
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/require-default-props": "off",
    "quotes": ["error", "single"],
    "no-console": "off",
    "arrow-parens": [0, "as-needed"],
    "arrow-body-style": "off",
    "@typescript-eslint/comma-dangle": ["error", "only-multiline"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.stories.tsx", "**/*.test.tsx"] }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/label-has-associated-control": "off"
  },
  "overrides": [
    {
      "files": ["src/js/**/*.stories.tsx"],
      "rules": {
        "no-alert": "off"
      }
    }
  ]
}
