//------------------------------------------------------------//

// * Custom Leaf Green Color Settings

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$cu-primary:   #4d801a;
$cu-secondary: #70954B;
$cu-highlight: #2E4D10;
$color-links:  #70954B;
$color-links--hover: scaleColor($color-links, -2);
