//------------------------------------------------------------//

// * Custom Dark Green Color Settings

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../config/index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$cu-primary:   #004d00;
$cu-secondary: #1F661F;
$cu-highlight: #2E992E;
$color-links:  #009900;
$color-links--hover: scaleColor($color-links, -2);
