//------------------------------------------------------------//

// * Custom Purple Color Settings

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../config/index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$cu-primary:   #660066;
$cu-secondary: #7F267F;
$cu-highlight: #B236B2;
$color-links:  #B200B2;
$color-links--hover: scaleColor($color-links, -2);
