//------------------------------------------------------------//

// * Custom Gray Color Settings

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$cu-primary:   #999;
$cu-secondary: #666;
$cu-highlight: #222;
$color-links:  #888;
$color-links--hover: scaleColor($color-links, -2);
