//------------------------------------------------------------//

// * Custom Orange Color Settings

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$cu-primary:   #d97e00;
$cu-secondary: #D97E00;
$cu-highlight: #593400;
$color-links:  #A66000;
$color-links--hover: scaleColor($color-links, -2);
