//------------------------------------------------------------//

// * Custom Pink Color Settings

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// * Notes:
// * Based on Adobe Kuler's Monocromatic color wheel settings
// * background, middleground, and foreground color don't change

//------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$cu-primary:   #f2798d;
$cu-secondary: #f2798d;
$cu-highlight: #723943;
$color-links:  #BF5F6F;
$color-links--hover: scaleColor($color-links, -2);
