//--------------------------------------------------------------//

// * Portland,OR Theme

// * 1. Load functions, mixins, & default variables
// * 2. Redefine Color, Element, & Font Variables for Theme

// Notes:
// * Based on the same split comlimentary color scheme as default

//--------------------------------------------------------------//

// * 1. Load functions, mixins, & default variables

@import "../config/index";

// * 2. Redefine Color, Element, & Font Variables for Theme

$ts-white:                   #fafafa;
$ts-grey:                       #999;
$ts-black:                      #333;

$cu-foreground:                                  #f9f9f9;
$cu-foreground--light:     scaleColor($cu-foreground, 0);
$cu-foreground--dark:      scaleColor($cu-foreground, 0);

$cu-middleground:                                #f6f6f6;
$cu-middleground--light: scaleColor($cu-middleground, 0);
$cu-middleground--dark:  scaleColor($cu-middleground, 0);

$cu-background:                                  #ededed;
$cu-background--light:     scaleColor($cu-background, 0);
$cu-background--dark:      scaleColor($cu-background, 0);

$cu-divider:                                     #d3dfe0;
$cu-divider--light:           scaleColor($cu-divider, 1);
$cu-divider--dark:           scaleColor($cu-divider, -1);

$cu-info:                                        #455963;
$cu-info--light:                scaleColor($cu-info, -1);
$cu-info--dark:                  scaleColor($cu-info, 0);

$cu-positive:                                    #7fc243;
$cu-positive--light:         scaleColor($cu-positive, 1);
$cu-positive--dark:         scaleColor($cu-positive, -1);
$cu-positive--bg:            scaleColor($cu-positive, 3);

$cu-negative:                                    #e26362;
$cu-negative--light:         scaleColor($cu-negative, 1);
$cu-negative--dark:         scaleColor($cu-negative, -1);
$cu-negative--bg:            scaleColor($cu-negative, 8);

$cu-primary:                                     #455963;
$cu-primary--light:           scaleColor($cu-primary, 2);
$cu-primary--dark:           scaleColor($cu-primary, -1);
$cu-primary--bg:             scaleColor($cu-primary, 10);

$cu-secondary:                                   #579caa;
$cu-secondary--light:       scaleColor($cu-secondary, 1);
$cu-secondary--dark:       scaleColor($cu-secondary, -1);
$cu-secondary--bg:         scaleColor($cu-secondary, 10);

$cu-highlight:                                   #4e803e;
$cu-highlight--light:       scaleColor($cu-highlight, 1);
$cu-highlight--dark:       scaleColor($cu-highlight, -1);
$cu-highlight--bg:         scaleColor($cu-highlight, 10);

$color-links:                                    #417f8c;
$color-links--hover: scaleColor($color-links, -2);
