@import "../config/index.scss";

// * @define default Button

// Global default button colors that are themed
$button-color:                       color-neutral(1) !default;
$button-border-color:                color-neutral(5) !default;
$button-text-color:                  color-neutral(9) !default;

// Default button styles
$Button-bg: $button-color;
$Button-color: $button-text-color;
$Button-border-color: $button-border-color;
$Button-border-radius: $border-radius-medium;
$Button-border-width: $border-width-small;
$Button-disabled-opacity: 0.4;
$Button-font-family: $base-font-family;
$Button-font-size: $tu-base-fontSize;
$Button-font-weight: $tu-semibold-fontWeight;
$Button-height: scaleGrid(4);
$Button-line-height: $Button-height - 3;
$Button-padding: 0 scaleGrid(2);
$Button-hover-color: color-primary(5);
$Button-active-color: color-primary(7);

.Button {
  background-color: $Button-bg;
  border: $Button-border-color solid $Button-border-width;
  border-radius: $Button-border-radius;
  color: $Button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $Button-font-family;
  font-size: $Button-font-size;
  font-weight: $Button-font-weight;
  height: $Button-height;
  line-height: $Button-line-height;
  margin: 0;
  min-width: $Button-height;
  padding: $Button-padding;
  text-decoration: none;
  transition: all $duration-short ease-in-out;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: $Button-hover-color;
    color: $Button-hover-color;
    outline: none;
  }

  &:active, &.is-active {
    border-color: $Button-active-color;
    color: $Button-active-color;
  }

  &.is-disabled,
  &:disabled {
    &,
    &:hover,
    &:active {
      background-color: color-neutral(2);
      border-color: color-neutral(5);
      cursor: not-allowed;
      color: color-neutral(5);
    }
  }
}

$permutations: (
  "primary" color-primary(6) color-primary(5) color-primary(7),
  "negative" color-negative(6) color-negative(5) color-negative(7),
  "warning" color-warning(6) color-warning(5) color-warning(7),
  "success" color-success(6) color-success(5) color-success(7)
);

@each $name, $color, $hover, $active in $permutations {
  .Button--#{$name} {
    background-color: $color;
    border-color: $color;
    color: color-neutral(1);

    &:hover,
    &:focus {
      background-color: $hover;
      border-color: $hover;
      color: color-neutral(1);
    }

    &:active, &.is-active {
      border-color: $active;
      background-color: $active;
      color: color-neutral(1);
    }
  }
}

// * Modifier: Button Small

$Button--small-font-size: $tu-small-fontSize;
$Button--small-height: scaleGrid(3);
$Button--small-line-height: $Button--small-height - 3;
$Button--small-padding: 0 scaleGrid(1);


.Button--small {
  font-size: $Button--small-font-size;
  height: $Button--small-height;
  line-height: $Button--small-line-height;
  padding: $Button--small-padding;
  min-width: $Button--small-height;
}

// * Modifier: Button Large

$Button--large-font-size: $tu-large-fontSize;
$Button--large-height: scaleGrid(5);
$Button--large-line-height: $Button--large-height - 3;
$Button--large-padding: 0 scaleGrid(2);

.Button--large {
  font-size: $Button--large-font-size;
  height: $Button--large-height;
  line-height: $Button--large-line-height;
  padding: $Button--large-padding;
  min-width: $Button--large-height;
}
