.Container {
  height: 100%;
  position: relative;
  display: flex;

  .Container-body--grow {
    flex-grow: 1;
    overflow: auto;
  }

  &.Container--column {
    flex-direction: column;
  }

  .Container-header,
  .Container-body,
  .Container-footer {
    order: 1;
  }
}
