@import "../config/index.scss";

//------------------------------------------------------------//

// * Input
// * 1. Input Settings
// * 2. Base Input

// Notes:
// * all the classic element styling is coming through

// TODO : Refactor classic form styling to resolve conflicts

//------------------------------------------------------------//

// * 1. Input Settings

$form-input-height: $su-xlarge !default;
$form-input-line-height: $su-xlarge - 2 !default;
$form-input-bg-color: $cu-foreground--dark !default;

// * 2. Base Input

.Input {
  cursor: text;
  color: $cu-info;
  display: block;
  width: 100%;
  height: $form-input-height;
  line-height: $form-input-line-height;
  padding: 0 $su-small;
  box-sizing: border-box;
  box-shadow: none;
  background-color: $form-input-bg-color;
  border: $border-width-small solid color-neutral(5);
  border-radius: $border-radius-medium;
  font-family: inherit;
  font-size: $tu-base-fontSize;
  transition: all ease 0.2s;

  &:disabled {
    background: $cu-middleground--dark;
    color: $ts-grey;
    cursor: not-allowed;
  }

  &:focus, &:hover {
    border-color: color-primary(5);
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 15px -5px color-primary(3);
  }

  &::-ms-clear {
    display: none;
  }
}

// Hack to override webkit autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $cu-foreground--dark inset;
  -webkit-text-fill-color: $cu-info;
}

.Input--large {
  font-size: $tu-large-fontSize;
  height: $su-xxlarge;
  line-height: $su-xxlarge;
}

.Input--small {
  font-size: $tu-base-fontSize;
  height: $su-large;
  line-height: $su-large;
}
