.Modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: $cu-overlay-background;
  top: 0;
  left: 0;
  z-index: 1050;

  // Once classic modals have been migrated, we can remove this.
  &.is-open,
  &.is-active {
    display: flex; // 2
  }
}

.Modal-content {
  position: fixed;
  background: white;
  width: 80%;
  min-width: 50%;
  height: auto;
  max-height: 90vh;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Modal-body {
  flex: 1;
  overflow: auto;
}

.Modal-header {
  flex: 0 0 auto;
}

.Modal--fullscreen {
  background: white;

  .Modal-content {
    width: 100vw;
    height: 100vh;
    max-height: none;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
  }

  .Modal-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
  }
}

.Modal {
  &.Modal--open {
    display: block;
  }

  &.Modal--closed {
    display: none;
  }
}

.Modal-header,
.Modal-body {
  padding: 1em;
}

.Modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@media screen and (min-width: 480px) {
  .Modal-content {
    width: 50%;
  }
}
