
.Nav {
  background-color: color-neutral(1);
  display: flex;
  flex-direction: column;

  .Icon {
    height: 1.2em;
    width: 1.2em;
  }

  &.is-collapsed {
    max-width: 64px;
    .nav-item-title {
      display: none;
    }

    .nav-collapse {
      .Icon {
        transform: rotate(180deg);
      }
    }
  }

  .nav-collapse {
    border-top: 1px solid color-neutral(5);
    cursor: pointer;
    padding: 12px 24px;
    .Icon {
      transition: transform 0.2s ease-in-out;
    }
  }

  li {
    background-color: color-neutral(1);
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    list-style: none;
    margin: 12px;
    padding: 12px;
    user-select: none;

    &:hover {
      background-color: color-neutral(3);
    }

    &:active {
      background-color: color-neutral(4);
    }

    &.is-active {
      background-color: color-primary(6);
      color:color-neutral(1);
    }
  }
}
