
.Nav {
  transition: all ease 300ms;
  background-color: color-primary(9);
  display: flex;
  flex-direction: column;
  min-width: scaleGrid(24);
  max-width: scaleGrid(25);

  &.is-flyout {
    background-color: white;
    color: black;
    box-shadow: 4px 1px 10px #00000050;

    a {
      color: black;
    }
  }

  .Nav-sectionHeading {
    padding: 8px;
  }

  .Nav-node{
    padding: 8px;
  }

  .Nav-node > .Nav-node {
    padding-left: 16px;
  }

  .Nav-node > .Nav-node > .Nav-node {
    padding-left: 24px;
  }


  .Nav-node {
    cursor: pointer;
    .Icon {
      transform: rotate(-90deg);
    }
  }

  .Node-expanded {
    & > .Icon {
      transform: rotate(0deg);
    }
  }

  .Nav-item {
    color: color-neutral(5);
    white-space: nowrap;
  }

  .Icon {
    height: 1em;
    width: 1em;
    margin-right: scaleGrid(1);
    transition: transform ease 300ms;
  }

  &.is-collapsed {
    max-width: scaleGrid(8);
    min-width: scaleGrid(8);
    .Nav-item {
      text-align: center;
    }
    .Nav-itemTitle {
      display: none !important;
    }
    .Icon {
      margin-right: 0;
    }

    .Nav-header {
      height: 57px;
      margin: 0 auto;
      padding: scaleGrid(2);
    }

    .Nav-footer {
      .Icon {
        transform: rotate(180deg);
      }
    }
  }
}

.is-flyout {
  .Nav-header {
    color: black;

    .Icon {
      transform: rotate(180deg);
    }
  }
}

.Nav-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid color-primary(8);
  padding: scaleGrid(2);
  color: color-neutral(1);
  font-size: 1rem;
  max-height: 65px;

  .Nav-itemTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Icon {
    transition: transform ease 300ms;
  }
}

.Nav-body {
  flex: 1 1 0% !important;
  flex-basis: 0% !important;
}

.Nav-headerIcon {
  width: scaleGrid(3);
  display: block;
}

.Nav-footer {
  white-space: nowrap;
  border-top: 1px solid color-primary(8);
  cursor: pointer;
  padding: (scaleGrid(3) / 2) scaleGrid(3);
  color: color-neutral(1);
  .Icon {
    transition: transform 0.2s ease-in-out;
  }
}

.Nav-item {
  background-color: color-primary(9);
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  margin: scaleGrid(3) 12px;
  padding: 6px 12px;
  user-select: none;

  &:hover {
    background-color: color-primary(8);
    color: color-primary(1);
    transition: all ease 200ms;
  }

  &:active {
    background-color: color-primary(6);
  }

  &.is-active {
    background-color: color-primary(6);
    color:color-neutral(1);
    font-weight: bold;
  }
}
