.PasswordToggleInput {
  cursor: pointer;
  border: 1px solid #cbd0d6 !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);

  &--active {
    border: 1px solid #1364de !important;
  }

  input {
    box-shadow: none;

    &:focus-visible {
      outline: none;
    }
  }
}
