$paddingY: $su-small + 2px;

.Pill {
  width: 100%;
  padding: $paddingY $su-medium;
  border: 1px solid color-neutral(4);
  border-radius: $border-radius-medium;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 255, 0.03);

  &:hover {
    border-color: color-primary(6);
  }

  &:hover .Checkbox-input {
    background-color: red;
  }

  &--active {
    border-color: color-primary(6);
  }

  &--error {
    border-color: color-negative(4);
  }

  &-content--center {
    display: flex;
    justify-content: center;
  }

  &-content--ends {
    display: flex;
    justify-content: space-between;
  }
}
