.Card {
    border-radius: 5px;
    width: 15%;
    height: 25%;
    text-align: center;
    color: color-neutral(9);
    border: 1px solid color-neutral(4);
    font-size: $tu-base-fontSize;

    &:hover {
        box-shadow: 0 8px 16px 0 color-neutral(4);
    }
}

.Card--container {
    padding: 20px 20px;
}

.Card--icon {
    color: color-neutral(8);
    margin-bottom: 10px;
}

.Card--selected {
    border: 1px solid color-primary(6);
    .Card--icon {
        color: color-primary(6);
    }
}

