@import "../config/index.scss";

//------------------------------------------------------------//

// * Select Box
// * 1. Select Box Settings
// * 2. Select Box

// TODO: update the dropdown icon to SVG

//------------------------------------------------------------//

// * 1. Select Box Settings

$SelectBox-height: $form-input-height !default;
$SelectBox-indicator-width: $form-input-height;

$SelectBox-bg-color: $form-input-bg-color !default;
$SelectBox-text-color: $form-input-text-color !default;
$SelectBox-border-color: $form-input-border-color !default;

$SelectBox-bg-color--disabled: $form-input-bg-color--disabled !default;
$SelectBox-text-color--disabled: $form-input-text-color--disabled !default;
$SelectBox-border-color--disabled: $form-input-border-color--disabled !default;

// * 2. Select Box

.SelectBox {
  position: relative;
  display: inline-block;
  width: 100%;

  &:after {
    @include ss-pika;
    content: '▾';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: $SelectBox-indicator-width;
    color: $cu-info--light;
    font-size: $tu-xsmall-fontSize;
    height: ( $SelectBox-height - $su-small );
    line-height: ( $SelectBox-height - $su-xsmall );
    text-align: center;
    border-left: $border-width-small solid $cu-divider--light;
    pointer-events: none;
  }

  &.is-disabled:after {
    color: $SelectBox-border-color--disabled;
  }

}

.SelectBox-options {
  height: $SelectBox-height;
  width: 100%;
  line-height: $SelectBox-height;
  padding-right: $SelectBox-indicator-width + $su-small;
  padding-left: $su-small;
  color: $cu-info;
  background-color: $SelectBox-bg-color;
  font-family: $base-font-family;
  border-radius: $border-radius-medium;
  border: 1px solid $cu-divider;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // Hide IE select arrow
  &::-ms-expand {
    display: none;
  }

  // Focus state
  &:focus {
    border-color: $cu-primary;
    outline: none;
  }

  &:invalid {
    color: red !important;
  }

  // Disabled State
  &:disabled,
  &.is-disabled {
    background-color: $SelectBox-bg-color--disabled;
    color: $SelectBox-text-color--disabled;
    border-color: $SelectBox-border-color--disabled;
    cursor: not-allowed;
  }

}

// * Deprecated - No longer have a JS dependency
.SelectBox-text {
  display: none;
}

.SelectBox--large .SelectBox-options {
  font-size: $tu-large-fontSize;
  height: $su-xxlarge;
  line-height: $su-xxlarge;
}
