//------------------------------------------------------------//

// * Custom Maple Leaf Color Settings
// * 1. Define new color scheme
// * 2. Load app.scss with color settings overrriden

// * Notes:
// * This is a custom theme built for Hockey Canada
// * This will be the default theme for their teams

//------------------------------------------------------------//

@import "../config/index";

// * 1. Define new color scheme

$cu-primary:         #C61C22;
$cu-primary--dark:   #990000;
$cu-secondary:       #C61C22;
$cu-highlight:       #383838;
$color-links:        #990000;

// * 2. Load app.scss with color settings overrriden

@import "../fonts/index";
@import "../base/index";
@import "../components/index";
@import "../utils/index";
