@import "../config/index.scss";

/**
 * @define default Button
 */

$Button-bg: $ts-white;
$Button-bg-hover: $cu-background;
$Button-color: $cu-info;
$Button-border-color: $cu-divider;
$Button-border-color-hover: scaleColor($Button-border-color, -1);
$Button-border-radius: $border-radius-medium;
$Button-border-width: $border-width-small;
$Button-border-bottom-width: $border-width-medium;
$Button-disabled-opacity: 0.4;
$Button-font-family: $tu-openSans-fontFamily;
$Button-font-size: $tu-base-fontSize;
$Button-font-weight: $tu-semibold-fontWeight;
$Button-height: scaleGrid(4);
$Button-line-height: $Button-height - 3;
$Button-padding: 0 scaleGrid(2);

.Button {
  background-color: $Button-bg;
  border: $Button-border-color solid $Button-border-width;
  border-bottom-width: $Button-border-bottom-width;
  border-radius: $Button-border-radius;
  color: $Button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $Button-font-family;
  font-size: $Button-font-size;
  font-weight: $Button-font-weight;
  height: $Button-height;
  line-height: $Button-line-height;
  margin: 0;
  padding: $Button-padding;
  text-decoration: none;
  transition: all $duration-short ease-in-out;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    background-color: $Button-bg-hover;
    border-color: $Button-border-color-hover;
    outline: none;
  }

  &.is-active {
    background-color: $Button-bg-hover;
    border-bottom-width: 1px;
    border-top-width: $Button-border-bottom-width;
  }

  &.is-disabled,
  &:disabled {
    &,
    &:hover,
    &:active {
      background-color: $Button-bg;
      border-color: $Button-border-color;
      cursor: not-allowed;
      opacity: $Button-disabled-opacity;
    }
  }
}

/**
 * Modifier: Button Primary
 */

$Button--primary-bg: $cu-secondary;
$Button--primary-bg-hover: scaleColor($Button--primary-bg, -1);
$Button--primary-color: $ts-white;
$Button--primary-color-hover: $ts-white;
$Button--primary-border-color: $cu-secondary--dark;
$Button--primary-border-color-hover: scaleColor($cu-secondary--dark, -1);

.Button--primary {
  background-color: $Button--primary-bg;
  border-color: $Button--primary-border-color;
  color: $Button--primary-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $Button--primary-bg-hover;
    border-color: $Button--primary-border-color-hover;
    color: $Button--primary-color-hover;
  }

  &.is-active {
    background-color: $Button--primary-bg-hover;
  }

  &.is-disabled,
  &:disabled {
    &,
    &:hover,
    &:active {
      background-color: $Button--primary-bg;
      border-color: $Button--primary-border-color;
      color: $Button--primary-color-hover;
    }
  }
}

/**
 * Modifier: Button Negative
 */

$Button--negative-bg: $ts-white;
$Button--negative-bg-hover: $cu-negative;
$Button--negative-color: $cu-negative;
$Button--negative-color-hover: $ts-white;
$Button--negative-border-color: $cu-divider;
$Button--negative-border-color-hover: $cu-negative--dark;

.Button--negative {
  background-color: $Button--negative-bg;
  border-color: $Button--negative-border-color;
  color: $Button--negative-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $Button--negative-bg-hover;
    border-color: $Button--negative-border-color-hover;
    color: $Button--negative-color-hover;
  }

  &.is-active {
    background-color: $Button--negative-bg-hover;
    border-color: $Button--negative-border-color-hover;
    color: $Button--negative-color-hover;
  }

  &.is-disabled,
  &:disabled {
    &,
    &:hover,
    &:active {
      background-color: $Button--negative-bg;
      border-color: $Button--negative-border-color;
      color: $Button--negative-color;
    }
  }
}

/**
 * Modifier: Button Facebook
 */

$Button--facebook-bg: $cu-primary;
$Button--facebook-bg-hover: $cu-primary--dark;
$Button--facebook-color: $ts-white;
$Button--facebook-color-hover: $ts-white;
$Button--facebook-border-color: $cu-primary--dark;
$Button--facebook-border-color-hover: $cu-primary--dark;

.Button--facebook {
  background-color: $Button--facebook-bg;
  border-color: $Button--facebook-border-color;
  color: $Button--facebook-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $Button--facebook-bg-hover;
    border-color: $Button--facebook-border-color-hover;
    color: $Button--facebook-color-hover;
  }

  &.is-active {
    background-color: $Button--primary-bg-hover;
  }

  &.is-disabled,
  &:disabled {
    &,
    &:hover,
    &:active {
      background-color: $Button--facebook-bg;
      border-color: $Button--facebook-border-color;
      color: $Button--facebook-color;
    }
  }
}

/**
 * Modifier: Button Small
 */

$Button--small-font-size: $tu-small-fontSize;
$Button--small-height: scaleGrid(3);
$Button--small-line-height: $Button--small-height - 3;
$Button--small-padding: 0 $su-small;


.Button--small {
  font-size: $Button--small-font-size;
  height: $Button--small-height;
  line-height: $Button--small-line-height;
  padding: $Button--small-padding;
}

/**
 * Modifier: Button Large
 */

$Button--large-font-size: $tu-base-fontSize;
$Button--large-height: scaleGrid(5);
$Button--large-line-height: $Button--large-height - 3;
$Button--large-padding: 0 scaleGrid(3);

.Button--large {
  font-size: $Button--large-font-size;
  height: $Button--large-height;
  line-height: $Button--large-line-height;
  padding: $Button--large-padding;
}
