//------------------------------------------------------------//
// * Calendar
//------------------------------------------------------------//

//
// Calendar settings
//

$Calendar-border: $border-width-small solid $ts-grey;

.Calendar {}

.Calendar-heading {
  padding: $su-medium;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.Calendar-headingRight {
  position: absolute;
  right: $su-medium;
}

.Calendar-headingLeft {
  position: absolute;
  left: $su-medium;
}

.Calendar-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calendar-month {
  width: 200px;
  text-align: center;
  font-family: $base-font-family;
}

.Calendar-navigateBack {}

.Calendar-navigateForward {}



// Calendar rows
//
// 1. Override Classic everything selector that sets max-width on any class containing `row`
// 2. Display children side by side
// 3. Add dividers between rows

.Calendar-row {
  max-width: none; // 1
  display: flex; // 2
  border-bottom: $Calendar-border; // 3

  &:last-child {
    border-bottom: none; // 3
  }
}

// Column heading row (weekdays)

.Calendar-row--columnHeading {
  border-top: $Calendar-border;

  .Calendar-cell {
    text-align: center;
    min-height: 0;
    border-left: none;
  }
}

// Calendar cells
//
// 1. Apply a min-height so that cells have some space without content
// 2. Cells should fill a row equally
// 3. Add a divider between cells

.Calendar-cell {
  min-height: 100px; // 1
  flex: 1 1 0%; // 2
  padding: $su-small;
  border-left: $Calendar-border; // 3

  &:first-child {
    border-left: none; // 3
  }
}

.Calendar-cell--current {
  background: $cu-background;
}


// Calendar day
//
// Hide calendar days on default, large screen version

.Calendar-day {
  display: none;
}


// Calendar list items

.Calendar-listItem {
  list-style: none;
  color: $cu-primary;
  font-size: 11px;
  padding-left: $su-small + $su-xsmall;
  position: relative;

  &:before {
    content: "•";
    font-size: 1.5em;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
  }
}


///////////////////
// * Modifiers * //
///////////////////

// Widget
//
// Small version that only shows dates, no content or weekdays

.Calendar--widget {
  .Calendar-row {
    border: none;
  }

  .Calendar-row--columnHeading {
    border-bottom: $Calendar-border;
    border-top: $Calendar-border;
  }

  .Calendar-cell {
    min-height: 0;
    border: none;
  }

  // Calendar date settings

  $Calendar-date-size: 23px;
  $Calendar-date-fontSize: 11px;
  $Calendar-date-verticalSpacing: ($Calendar-date-size - $Calendar-date-fontSize) / 2;

  .Calendar-date {
    width: $Calendar-date-size; // 1
    height: $Calendar-date-size; // 1
    border-radius: 50%; // 1
    text-align: center; // 1
    font-size: $Calendar-date-fontSize; // 1
    line-height: 1; // 1
    padding: $Calendar-date-verticalSpacing 0; // 1
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .Calendar-date--hasGame {
    background-color: $cu-primary; // 2
    color: $cu-foreground; // 2
  }

  .Calendar-date--hasEvent::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: block;
    margin: $su-small auto 0;
    background-color: $cu-secondary;
  }
}


// Stacked
//
// Option for small screens with displayed stacked vertically

.Calendar--stacked {
  .Calendar-row {
    display: block;
    border-bottom: none;
  }

  .Calendar-row--columnHeading {
    display: none;
  }

  .Calendar-cell {
    border-left: none;
    border-top: $Calendar-border;
    min-height: 0;
  }

  .Calendar-day,
  .Calendar-date {
    display: inline-block;
  }

  .Calendar-day {
    margin-left: $su-xsmall;
  }
}
