//------------------------------------------------------------//

// * Calendar
// * 1. Month and Week headings
// * 2. Rows and cells
// * 3. Widget Version
// * 4. Responsive considerations

//------------------------------------------------------------//


// * 1. Month and Week headings

.Calendar-row--monthHeading {
  padding: $su-medium;
  border-left: $border-width-small solid $ts-grey;
  border-right: $border-width-small solid $ts-grey;
  border-top: $border-width-small solid $ts-grey;
}
.Calendar-title, .Calendar-month {
  margin-right: $su-medium;
  display: inline-block;
}
.Calendar-row--weekHeading {
  background: $cu-background--light;
  margin: 0;
  text-align: center;
  border-top: $border-width-small solid $ts-grey;
  border-right: $border-width-small solid $ts-grey;
  color: $cu-primary;
  display: flex;
  list-style-type: none;
}
.Calendar-cell.Calendar-cell--dayHeading {
  min-height: 0;
}

// * 2. Rows and cells
.Calendar-row {
  max-width: none;
}
.Calendar-row--week {
  border-right: $border-width-small solid $ts-grey;
  box-sizing: border-box;
  display: flex;
}
.Calendar-cell {
  min-height: 100px;
  max-height: 200px;
  flex: 1 1 0%;
  box-sizing: inherit;
  padding: $su-medium;
  padding-bottom: $su-small;
  border-left: $border-width-small solid $ts-grey;
  border-bottom: $border-width-small solid $ts-grey;
}
.Calendar-cell--currentDay {
  background: $cu-primary--bg;
  p, abbr {
    color: $cu-primary;
    font-weight: $tu-bold-fontWeight;
  }
}
.Calendar-cell--nextMonth {
  background: $cu-background--light;
  p, abbr {
    opacity: 0.6;
  }
}

// * 3. Widget Version

.Calendar--widget {
  .Calendar-cell--nextMonth {
    background: $ts-white;
    p, abbr {
      display: none;
    }
  }
  .Calendar-row {
    box-sizing: border-box;
    display: flex;
  }
  .Calendar-cell--dayHeading span {
    display: none;
  }
  .Calendar-cell {
    flex: 1 1 0%;
    min-height: 0;
    height: auto;
    box-sizing: inherit;
    min-width: 0;
    text-align: center;
    padding: $su-small 0;
    abbr {
      display: none;
    }
  }
  .Calendar-cell--dayHeading[title="Monday"]:after {
    content: 'Mo';
  }
  .Calendar-cell--dayHeading[title="Tuesday"]:after {
    content: 'Tu';
  }
  .Calendar-cell--dayHeading[title="Wednesday"]:after {
    content: 'We';
  }
  .Calendar-cell--dayHeading[title="Thursday"]:after {
    content: 'Th';
  }
  .Calendar-cell--dayHeading[title="Friday"]:after {
    content: 'Fr';
  }
  .Calendar-cell--dayHeading[title="Saturday"]:after {
    content: 'Sa';
  }
  .Calendar-cell--dayHeading[title="Sunday"]:after {
    content: 'Su';
  }
}

// * 4. Responsive considerations

@media only screen and (max-width: $breakpoint-sm) {
  .Calendar-row {
    display: block;
  }
  .Calendar-row--weekHeading {
    display: none;
  }
  .Calendar-cell {
    padding: $su-medium;
  }
  .Calendar-row--monthHeading {
    background: $cu-background--light;
  }
}