@import "../base/index.scss";

//------------------------------------------------------------//

// * Panels
// * 1. Panel Settings
// * 2. Base Panel
// * 3. Panel Modifiers

// Notes:
// * also add to TeamSnap-UI sketch doc and create some rules
// around panel usage

// TODO : Create embedable version of panel for demos
// TODO : Add modifier for panel with button in header
// TODO : revisit theming and how that relates to panel styles
// TODO : revisit panel-footer alignment pattern
// TODO : Refactor containers and header in classic; conflicts

//------------------------------------------------------------//

// * 1. Panel Settings

$Panel-bg-color: $cu-foreground !default;
$Panel-header-text-color: $cu-info !default;

// * 2. Base Panel

.Panel {
  padding: 0;
  background: $Panel-bg-color;
  margin-bottom: $su-default;
  border: $border-width-small solid $cu-divider;
  border-radius: $border-radius-large;
  box-sizing: border-box;
}

// 1. Panel body has no padding by default. Padding is set on rows and cells,
//    instead. Can be overriden in markup with spacing utilities as necessary.

.Panel-body {
  padding: 0; // 1
}

// Hide overflowing panel corners by setting border radius on corner children

.Panel-body:first-child .Panel-row:first-child .Panel-cell:first-child {
  border-top-left-radius: $border-radius-large;
}

.Panel-body:first-child .Panel-row:first-child .Panel-cell:last-child {
  border-top-right-radius: $border-radius-large;
}

.Panel-body:last-child .Panel-row:last-child .Panel-cell:first-child {
  border-bottom-left-radius: $border-radius-large;
}

.Panel-body:last-child .Panel-row:last-child .Panel-cell:last-child {
  border-bottom-right-radius: $border-radius-large;
}

.Panel-header,
.Panel-footer,
.Panel-row,
.Panel-cell {
  padding: $su-default;
}

.Panel-header {
  border-bottom: $border-width-small solid $cu-divider;
}

.Panel-title {
  color: $Panel-header-text-color;
  font-family: $base-font-family;
  font-size: $tu-base-fontSize;
  font-weight: $tu-bold-fontWeight;
  padding: 0;
  margin: 0;
}

.Panel-row:not(:last-child) {
  border-bottom: $border-width-small solid $cu-divider--light;
}

.Panel-cell--header {
  background-color: $cu-middleground;
  border-right: solid 1px $cu-divider--light;
}

.Panel-footer {
  border-top: 1px solid $cu-divider;
  text-align: right;
}


// * 3. Modifiers

.Panel--striped .Panel-row:nth-child(even) {
  background-color: $cu-middleground;
}

// .Panel--[bpMax]-stacked
//
// Responsive layout for 2 column tables that sets borders and border-radius
// for children based on the max width that the table is stacked
//
// eg:
// + .Panel--xsMax-stacked
// + .Panel--smMax-stacked
// + .Panel--mdMax-stacked
//
// 1. Remove default right border and add bottom border instead
// 2. These children are now "inside" so they don't need a border-radius
// 3. The first and last cells are now full width, so they need
//    an extra border-radius

@if $responsive == true {
  @each $name, $value in $max-breakpoints {
    @media (max-width: $value) {
      .Panel--#{$name}-stacked {

        .Panel-cell--header {
          border-right: 0; // 1
          border-bottom: 1px solid $cu-divider--light;  // 1
        }

        .Panel-body:first-child .Panel-row:first-child .Panel-cell:last-child,
        .Panel-body:last-child .Panel-row:last-child .Panel-cell:first-child {
          border-radius: 0; // 2
        }

        .Panel-body:first-child .Panel-row:first-child .Panel-cell:first-child {
          border-top-right-radius: $border-radius-large; // 3
        }

        .Panel-body:last-child .Panel-row:last-child .Panel-cell:last-child {
          border-bottom-left-radius: $border-radius-large; // 3
        }
      }
    }
  }
}
