// * Progress Bar component
// *
// *

.ProgressBar-range {
  height: $su-small;
  flex: 1; // for inline style
  background: $cu-middleground--dark;
  box-shadow: inset $box-shadow-small;
  border-radius: $border-radius-large;
  margin-bottom: $su-small;
  .ProgressBar--large & {
    height: $su-default;
  }
  .ProgressBar--small & {
    height: $su-xsmall;
  }
  .ProgressBar--xsmall & {
    height: $su-xxsmall;
  }
  .ProgressBar--xlarge & {
    height: $su-large;
  }
}
.ProgressBar-title {
  margin-bottom: $su-xsmall;
}

.ProgressBar-status {
  background: $cu-positive;
  height: 100%;
  border-radius: $border-radius-large;
  &.ProgressBar-status--negative{
    background: $cu-negative;
  }
  &.ProgressBar-status--neutral{
    background: $cu-info--light;
  }
}
// inline title styles
.ProgressBar--inline {
  display: flex;
  width: 100%;
  align-items: center;
  .ProgressBar-title {
    width: auto;
    margin-right: $su-small;
  }
}

// radial progress bar
.ProgressBar--radial {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: $su-default;
  .circle {
    clip: rect(0, scaleGrid(7), scaleGrid(7), scaleGrid(7)/2 );
    left: 0;
    position: absolute;
    top: 0;
    height: scaleGrid(7);
    width: scaleGrid(7);
  }
  .ProgressBar-range {
    height: scaleGrid(7);
    width: scaleGrid(7);
    background: transparent;
    border-radius: 50%;
    &:before {
      content: '';
      display: block;
      width:  100%;
      height: 100%;
      border: $su-small solid $cu-background;
      box-shadow: inset 0 0 1.5px rgba($ts-black, .25);
      border-radius: 50%;
    }
    .ProgressBar-status {
      position: absolute;
      top: 0;
      left: 0;
      clip: rect(0, scaleGrid(7)/2, scaleGrid(7), 0);
      height: inherit;
      width: inherit;
      background: transparent;
      border: $su-small solid $cu-positive;
      border-radius: 50%;
      transform: rotate(0);
    }
  }
  &.ProgressBar--large .ProgressBar-range {
    width: scaleGrid(10);
    height: scaleGrid(10);
    &:before {
      border-width: $su-default;
    }
    .ProgressBar-status {
      border-width: $su-default;
      clip: rect(0, scaleGrid(10)/2, scaleGrid(10), 0);
    }
    .circle {
      clip: rect(0, scaleGrid(10), scaleGrid(10), scaleGrid(10)/2 );
      width: inherit;
      height: inherit;
      &.whole {
        clip: rect(auto, auto, auto, auto)
      }
    }

  }
  &.ProgressBar--small .ProgressBar-range {
    width: $su-xlarge;
    height: $su-xlarge;
    &:before {
      border-width: $su-xsmall;
    }
    .ProgressBar-status {
      border-width: $su-xsmall;
      clip: rect(0, $su-xlarge/2, $su-xlarge, 0);
    }
    .circle {
      width: inherit;
      height: inherit;
      clip: rect(0, $su-xlarge, $su-xlarge, $su-xlarge/2 );
    }
  }
}