@import "../base/config.scss";

//------------------------------------------------------------//

// * StepNav Component
// * 1. Settings
// * 2. Define Default StepNav
// * 3. Size Modifier Mixin
// * 4. Small Modifier
// * 5. Titled Modifier

// TODO : document global dependencies
// TODO : further responsive cleanup, especially on titled setp nav

//------------------------------------------------------------//

// * 1. Settings

$StepNav-size: 60px;
$StepNav-spacing: 4px;
$StepNav-titleWidth: 150px;
$StepNav-paddedWidth: $StepNav-size + ($StepNav-spacing * 2);

$StepNav-size--small: 40px;
$StepNav-spacing--small: 2px;

// * 2. Define Default StepNav

.StepNav {}

.StepNav-steps {
  padding-left: $StepNav-paddedWidth;
  position: relative;
  padding-bottom: $vertical-block-spacing--small;
  display: flex;
}

.StepNav-step {
  position: relative;
  list-style: none;
  display: block;
  padding: 0;
  flex: auto;

  &:before {
    content: '';
    width: calc(100% - #{$StepNav-paddedWidth});
    display: block;
    position: absolute;
    background: $ui-divider;
    height: $StepNav-spacing;
    top: ($StepNav-size / 2);
    right: ($StepNav-paddedWidth);
  }

  &:first-child {
    position: absolute;
    left: 0;
    top: 0;
    .StepNav-stepLink {
      float: left;
    }
    &:before {
      display: none;
    }
  }

  &.is-enabled {
    .StepNav-stepIcon,
    .StepNav-stepTitle {
      color: $color-primary;
      transition: color .35s ease-in-out;
    }
    .StepNav-stepIcon:before {
      border-color: $color-primary;
      transition: border-color .35s ease-in-out;
    }
    &:before {
      background-color: $color-primary;
      transition: background-color .35s ease-in-out;
    }
  }

  &.is-active,
  &.is-enabled .StepNav-stepLink:hover {
    .StepNav-stepIcon {
      color: $ui-white;
      &:before {
        box-shadow: 0 0 ($StepNav-spacing / 2) $color-primary--dark inset;
        border-color: $ui-divider;
        background-color: $color-primary;
      }
    }
  }
}

.StepNav-stepLink {
  float: right;
  position: relative;
  z-index: 10;
  color: $ui-divider;
  padding: 0 $StepNav-spacing;
}

.StepNav-stepTitle {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: $ui-divider;
  font-family: $base-font-family;
  font-size: $heading-size--small;
  position: absolute;
  width: $StepNav-titleWidth;
  top: 100%;
  left: calc( 0px - #{(($StepNav-titleWidth - $StepNav-paddedWidth) / 2)});
  padding-top: $StepNav-spacing;
}

.StepNav-stepIcon {
  width: $StepNav-size;
  background: #fff;
  box-sizing: content-box;
  line-height: $StepNav-size;
  &:before {
    font-size: ($StepNav-size * 0.43);
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    height: $StepNav-size;
    width: $StepNav-size;
    border-radius: ($StepNav-size / 2);
    line-height: inherit;
    padding: 0;
    border: {
      style: solid;
      color: $ui-divider;
      width: $StepNav-spacing;
    }
  }
}

// * 3. Modifier : Size Modifier Mixin

@mixin StepNav--sizeModifier($size, $spacing) {

  // redefine paddedWidth based on size and spacing
  $paddedWidth: $size + ($spacing * 2);

  // override CSS values to update stap nav size
  padding-left: $paddedWidth;
  .StepNav-step {
    &:before {
      width: calc(100% - #{$paddedWidth});
      height: $spacing;
      top: ($size / 2);
      right: $paddedWidth;
    }
  }
  .StepNav-stepLink {
    padding: 0 $spacing;
  }
  .StepNav-stepTitle {
    padding-top: $spacing;
    width: $StepNav-titleWidth;
  }
  .StepNav-stepIcon {
    width: $size;
  }
  .StepNav-stepIcon {
    line-height: $size;
    &:before {
      font-size: ($size * 0.43);
      border: {
        width: $spacing;
      }
      height: $size;
      width: $size;
      border-radius: ($size / 2);
      line-height: inherit;
    }
  }
  .is-active,
  .is-enabled a:hover {
    .StepNav-stepIcon:before {
      box-shadow: 0 0 ($spacing / 2) $color-primary--dark inset;
    }
  }
}

// * 5. Modifier : Small StepNav

.StepNav--small {
  .StepNav-steps {
    @include StepNav--sizeModifier($StepNav-size--small, $StepNav-spacing--small)
  }
  .StepNav-stepTitle {
    display: none;
  }
}

// * 6. Modifier : Titled Modifier

.StepNav--titled {

  .StepNav-title,
  .StepNav-steps {
    float: left;
  }

  .StepNav-title {
    width: 55%
  }

  .StepNav-steps {
    width: 45%;
  }

  .StepNav-step:first-child:before {
    display: block;
  }
}

.StepNav-title {
  overflow: hidden;
}

.StepNav-titleText {
  position: relative;
  margin: 0;
  padding-right: $hes;
  display: inline-block;
  line-height: $StepNav-size;
  &:before {
    content: '';
    position: absolute;
    top: ($StepNav-size / 2);
    left: 100%;
    height: $StepNav-spacing;
    width: 1000%;
    background: $color-primary;
  }
}
