@import "../config/index.scss";

$borders: (
  'Right': right,
  'Left': left,
  'Bottom': bottom,
  'Top': top
);

$border-style: 1px solid $cu-divider--light;

.u-border {
  border: $border-style;
}

.u-borderNone {
  border: 0;
}

@each $name, $value in $borders {
  .u-border#{$name} {
    border-#{$value}: $border-style;
  }
  .u-border#{$name}None {
    border-#{$value}: 0;
  }
}

@if $responsive == true {

  @each $bp-name, $bp-value in $breakpoints {

    @media (min-width: $bp-value) {

      .u-#{$bp-name}-border {
        border: $border-style;
      }

      .u-#{$bp-name}-borderNone {
        border: 0;
      }

      @each $name, $value in $borders {

        .u-#{$bp-name}-border#{$name} {
          border-#{$value}: $border-style;
        }
        
        .u-#{$bp-name}-border#{$name}None {
          border-#{$value}: 0;
        }

      }
    }
  }
}
