///*////////////////////////////////////////////////////////////////*/

//     Loads Museo Sans Fonts & set them up as class modifiers

//*////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'MuseoSansRounded100Regular';
    src: asset-url('new-skin/MuseoSansRounded-100-webfont.eot');
    src: asset-url('new-skin/MuseoSansRounded-100-webfont.woff') format('woff'),
         asset-url('new-skin/MuseoSansRounded-100-webfont.ttf') format('truetype'),
         asset-url('new-skin/MuseoSansRounded-100-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded300Regular';
    src: asset-url('new-skin/MuseoSansRounded-300-webfont.eot');
    src: asset-url('new-skin/MuseoSansRounded-300-webfont.woff') format('woff'),
         asset-url('new-skin/MuseoSansRounded-300-webfont.ttf') format('truetype'),
         asset-url('new-skin/MuseoSansRounded-300-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded500Regular';
    src: asset-url('new-skin/MuseoSansRounded-500-webfont.eot');
    src: asset-url('new-skin/MuseoSansRounded-500-webfont.woff') format('woff'),
         asset-url('new-skin/MuseoSansRounded-500-webfont.ttf') format('truetype'),
         asset-url('new-skin/MuseoSansRounded-500-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded700Regular';
    src: asset-url('new-skin/MuseoSansRounded-700-webfont.eot');
    src: asset-url('new-skin/MuseoSansRounded-700-webfont.woff') format('woff'),
         asset-url('new-skin/MuseoSansRounded-700-webfont.ttf') format('truetype'),
         asset-url('new-skin/MuseoSansRounded-700-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded900Regular';
    src: asset-url('new-skin/MuseoSansRounded-900-webfont.eot');
    src: asset-url('new-skin/MuseoSansRounded-900-webfont.woff') format('woff'),
         asset-url('new-skin/MuseoSansRounded-900-webfont.ttf') format('truetype'),
         asset-url('new-skin/MuseoSansRounded-900-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded1000Regular';
    src: asset-url('new-skin/MuseoSansRounded-1000-webfont.eot');
    src: asset-url('new-skin/MuseoSansRounded-1000-webfont.woff') format('woff'),
         asset-url('new-skin/MuseoSansRounded-1000-webfont.ttf') format('truetype'),
         asset-url('new-skin/MuseoSansRounded-1000-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
