@import "../config/index.scss";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, span, i, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height:    auto;
  border:    none;
}
